{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Captain Vee</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">
        <header class="blog-header lh-1 py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="btn btn-outline-danger" href="{% url 'portfolio-home' %}">Home</a>
                </div>
                <div class="col-4 pt-1">
                    <a href="{% url 'blog-list' %}" class="btn btn-outline-secondary">Blog Posts</a>
                </div>
            </div>
        </header>



        <main class="container">

            <div class="row g-5">
                <div class="col-md-8">
                    <h2 class="card-title">{{ blog_post.title }}</h2>
                    <p class="card-text"><small class="text-body-secondary">
                            Created on {{ blog_post.created_at }}</small></p>
                    <div class="card mb-3" style="background-color: inherit; border: none;">
                        <img src="{% static 'img/banner.jpg' %}" class="card-img-top" alt="..."
                            style="max-height: 25em;">
                        <div class="card-body">
                            <p class="card-text">{{ blog_post.content.html|safe }}</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="position-sticky" style="top: 2rem;">
                        <div class="p-4 mb-3 bg-light rounded">
                            <h4 class="fst-italic">About</h4>
                            <p class="mb-0">Customize this section to tell your visitors a little bit about your
                                publication, writers, content, or something else entirely. Totally up to you.</p>
                        </div>

                        <div class="p-4">
                            <h4 class="fst-italic">Popular Topics</h4>
                            <ol class="list-unstyled mb-0">
                                <li><a href="#">Python</a></li>
                                <li><a href="#">Django</a></li>
                                <li><a href="#">Celery</a></li>
                                <li><a href="#">Redis</a></li>
                                <li><a href="#">Websockets</a></li>
                            </ol>
                        </div>

                        <div class="p-4">
                            <div class="contact-info-item">
                                <div class="social-links">
                                    <a href="https://github.com/CaptainVee" target="_blank"><i
                                            class="fab fa-github"></i></a>
                                    <a href="https://twitter.com/Joseph_Victor_T" target="_blank"><i
                                            class="fab fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/in/josephvictort/" target="_blank"><i
                                            class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
</body>

</html>