{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Captain Vee</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>

<body>


  <!-- Page Loader Start -->
  <div class="page-loader">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <!-- Page Loader End -->


  <!-- Background circles Start -->
  <div class="bg-circles">
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
    <div class="circle-4"></div>
  </div>

  <!-- Background circles End -->
  <div class="overlay">
  </div>

  <!-- Main start -->
  <div class="main hidden">
    <!--       Header Section Start -->
    <header class="header">
      <div class="container">
        <div class="row flex-end">
          <button type="button" class="nav-toggler">
            <span></span>
          </button>
          <nav class="nav">
            <div class="nav-inner">
              <ul>
                <li><a href="#home" class="nav-item link-item">home</a></li>
                <li><a href="#about" class="nav-item link-item">about</a></li>
                <li><a href="#portfolio" class="nav-item link-item">portfolio</a></li>
                <li><a href="#contact" class="nav-item link-item">contact</a></li>
                <li><a href="#blog" class="nav-item link-item">blog</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!--       Header Section End -->
    <!-- 	Home section start -->
    <section class="home-section align-item-center" id="home">
      <div class="container">
        <div class="row align-item-center">
          <div class="home-text">
            <p>Hello, I'm</p>
            <h1>Victor Joseph</h1>
            <h2>Software developer and Machine Learning Engineer</h2>
            <a href="#about" class="btn link-item"> more about me</a>
            <a href="#portfolio" class="btn link-item"> portfolio</a>
            <div class="contact-info-item">
              <div class="social-links">
                <a href="https://github.com/CaptainVee" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/Joseph_Victor_T" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/josephvictort/" target="_blank"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>


          </div>
          <div class="home-img">
            <div class="img-box">
              <img src="{% static 'img/profile-img.gif'%}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 	Home section end -->

    <!--   About Section start-->

    <section class="about-section sec-padding " id="about">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>About me</h2>
          </div>
        </div>
        <div class="row">
          <div class="about-img">
            <div class="img-box">
              <img src="{% static 'img/about-img.jpg'%}" alt="about img" />
            </div>
          </div>
          <div class="about-text">
            <p>
              Resilient and experienced software developer with a strong background in building efficient, scalable, and
              reliable applications. Proficient in a variety of programming languages and comfortable working with both
              front-end and back-end technologies. I have a strong foundation in machine learning and data analysis,
              with experience creating and deploying basic machine learning models and working with large datasets to
              optimize algorithm performance. Seeking a challenging software development role where I can continue to
              learn and grow while making meaningful contributions to the team.
            </p>
            <h3>skills</h3>
            <div class="skills">
              <div class="skill-item">full-stack</div>
              <div class="skill-item">Artificial inteligence</div>
              <div class="skill-item">devops</div>
              <div class="skill-item">git</div>
              <div class="skill-item">debbuging</div>
              <div class="skill-item">api development</div>
              <div class="skill-item">embeded systems</div>
              <div class="skill-item">IOT</div>
            </div>

            <div class="about-tabs">
              <button type="button" class="tab-item" data-target="#education">
                what i do
              </button>
              <button type="button" class="tab-item active" data-target="#experience">
                experience
              </button>
            </div>
            <!--           Education start-->

            <div class="tab-content" id="education">
              <div class="timeline">
                <div class="timeline-item">
                  <h1>Software Development</h1>
                  <h4>
                    Developing highly scalable fullstack web applications and maintainable REST APIs
                  </h4>
                  <span class="date">Tools</span>
                  <div class="skills">
                    <div class="skill-item">python</div>
                    <div class="skill-item">django</div>
                    <div class="skill-item">html/css</div>
                    <div class="skill-item">javascript</div>
                    <div class="skill-item">bootstrap</div>
                    <div class="skill-item">Postgres</div>
                  </div>
                </div>
                <div class="timeline-item">
                  <h1>Machine Learning</h1>

                  <h4>
                    Experience with Machine Learning features like object detection and basic data analysis
                  </h4>
                  <span class="date">Tools</span>
                  <div class="skills">
                    <div class="skill-item">opencv</div>
                    <div class="skill-item">tensorflow</div>
                    <div class="skill-item">deepstack</div>
                    <div class="skill-item">pandas</div>
                    <div class="skill-item">numpy</div>
                  </div>
                </div>
                <div class="timeline-item">
                  <h1>Cloud Infra-Architecture</h1>
                  <span class="date">Tools</span>
                  <h4>
                    Currently Learning about multiple cloud platforms.
                  </h4>
                  <div class="skills">
                    <div class="skill-item">AWS</div>
                    <div class="skill-item">GCP</div>
                    <div class="skill-item">heroku</div>
                    <div class="skill-item">docker</div>
                    <div class="skill-item">linux</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- education end -->

            <div class="tab-content active" id="experience">
              <div class="timeline">
                <div class="timeline-item">
                  <span class="date">MAY 2022 - OCT 2022</span>
                  <h4><strong>Software Developer</strong> - <a href="https://diylaw.ng/"><span> DIYLaw Technologies Ltd
                      </span></a></h4>
                  <p>
                    <li>Assisted in redesigning the website from its original version, which was built using traditional
                      HTML and CSS, to a more modern and dynamic version that utilizes APIs and the React framework</li>
                    <li>Designed and implemented database schema for company's website, optimizing data organization and
                      retrieval for increased efficiency and performance.</li>
                    <li>Assisted in the deployment of the app to production, including testing and debugging in a live
                      environment.</li>
                    <li>Conducted thorough testing of API endpoints to ensure functionality and reliability prior to
                      deployment.</li>
                  </p>
                </div>
                <div class="timeline-item">
                  <span class="date">JUL 2022 - AUG 2022</span>
                  <h4>
                    <strong>Python Developer</strong> - <a href="https://africaprudential.com/">
                      <span>Africa Prudential Plc</span></a>
                  </h4>
                  <p>
                    <li>Performed comprehensive testing of the app to verify its functionality and performance</li>
                  </p>
                </div>
                <div class="timeline-item">
                  <span class="date">AUG 2021 - OCT 2021</span>
                  <h4><strong>Backend Developer (Intern)</strong> - <span>HNG internship</span></h4>
                  <p>
                    <li>Developed RESTful APIs with Python and Django</li>
                  </p>
                </div>
                <div class="timeline-item">
                  <span class="date">MAR 2021 - JUL 2021</span>
                  <h4><strong>Backend Developer (Intern)</strong> - <span>Zuri Team</span></h4>
                  <p>
                    <li>Implemented CRUD RESTful APIs</li>
                    <li>Developed a chat app using Sockets and Channels in Django</li>
                    <li>Involved in deploying web apps to Heroku and other cloud services</li>
                    <li>Built and managed API services such as oauth</li>
                  </p>
                </div>
              </div>
            </div>
            <!-- Experience end -->



            <a href="https://docs.google.com/document/d/1d3M0tYbUyh_sZaPXO0n1fBkgjAgKpI_JgrSkMGo9TKo/edit?usp=sharing"
              target="_blank" class="btn">view cV</a>
            <a href="#contact" class="btn link-item">contact me</a>
          </div>
        </div>
      </div>
    </section>
    <!--   About Section end-->

    <!-- Portfolio start -->
    <section class="portfolio-section sec-padding " id="portfolio">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>recent work</h2>
          </div>
        </div>
        <div class="row">
          <!--       Portfolio Item Start -->
          <div class="portfolio-item">
            <div class="portfolio-item-thumbnail">
              <img src="{% static 'img/portfolio/1.png'%}" alt="portfolio item thumbnail" />
            </div>
            <h3 class="portfolio-item-title">Hoperring</h3>
            <button type="button" class="btn view-project-btn">
              view project
            </button>
            <div class="portfolio-item-details">
              <div class="description">
                <p>
                  This is my recent startup that I am most proud of. It is a website that helps connect people with
                  little or no experience and/or experienced individuals who wants to volunteer their skills, to
                  companies who a looking for free or cheap labour.

                  Some key features present in the site are. News-feed section, Chatting section, Job Listing Section
                </p>
              </div>
              <div class="general-info">
                <ul>
                  <!--                     <li>Created - <span>4 Dec 2020</span></li>
 -->
                  <li>
                    Tecnologies used - <span>Html, Css, Javascript, Python, Django, Django-channels, AWS, Bootstrap,
                      Docker, Celery, Linux</span>
                  </li>
                  <li>Role - <span>FullStack</span></li>
                  <li>
                    View online -
                    <span><a target="_blank"
                        href="https://web-production-465a.up.railway.app">web-production-465a.up.railway.app</a></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--       Portfolio Item End -->

          <!--       Portfolio Item Start -->
          <div class="portfolio-item">
            <div class="portfolio-item-thumbnail">
              <img src="{% static 'img/portfolio/2.png'%}" alt="portfolio item thumbnail" />
            </div>
            <h3 class="portfolio-item-title">Dev Jobs</h3>
            <button type="button" class="btn view-project-btn">
              view project
            </button>
            <div class="portfolio-item-details">
              <div class="description">
                <p>
                  This is a simple Job listing website specifically for tech roles. You can register as an employer or a
                  person looking for Job.

                  An employer account has the ability to create jobs, see all applicants for a Job that was created by
                  the account and accept/decline a job application. Other features includes searching for specific
                  roles, deleting/updating a job post etc
                </p>
              </div>
              <div class="general-info">
                <ul>
                  <li>
                    Tecnologies used - <span>Django, Django-rest-framework, Postman, GCP, swagger, Heroku</span>
                  </li>
                  <li>Role - <span>Backend</span></li>
                  <li>
                    View online -
                    <span><a href="https://devjobspjt71.netlify.app/"
                        target="_blank">https://devjobspjt71.netlify.app/</a></span>
                  </li>
                  <li>
                    Docs -
                    <span><a
                        href="https://documenter.getpostman.com/view/14393751/TzedfPj8#4e387f1d-ec55-4294-995f-3941bc467a9e"
                        target="_blank">postman docs</a></span>
                  </li>

                </ul>
              </div>
            </div>
          </div>

          <!--       Portfolio Item End -->

          <!--       Portfolio Item Start -->
          <div class="portfolio-item">
            <div class="portfolio-item-thumbnail">
              <img src="{% static 'img/portfolio/3.png'%}" alt="portfolio item thumbnail" />
            </div>
            <h3 class="portfolio-item-title">Blogging Website</h3>
            <button type="button" class="btn view-project-btn">
              view project
            </button>
            <div class="portfolio-item-details">
              <div class="description">
                <p>
                  This is a simple blogging website where people can sign up and write blogs.
                  It has a full CRUD functionality
                </p>
              </div>
              <div class="general-info">
                <ul>
                  <li>
                    Tecnologies used - <span>Html, Css, Bootstrap, AWS, Heroku</span>
                  </li>
                  <li>Role - <span>Fullstack</span></li>
                  <li>
                    View online -
                    <span><a href="https://www.captainvee.com/blog" target="_blank">www.captainvee.com/blog</a></span>
                  </li>
                  <li>
                    github -
                    <span><a href="https://github.com/CaptainVee/portfolio" target="_blank">github-link</a></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--       Portfolio Item End -->
          <!--       Portfolio Item Start -->
          <div class="portfolio-item">
            <div class="portfolio-item-thumbnail">
              <img src="{% static 'img/portfolio/4.png'%}" alt="portfolio item thumbnail" />
            </div>
            <h3 class="portfolio-item-title">Explicit</h3>
            <button type="button" class="btn view-project-btn">
              view project
            </button>
            <div class="portfolio-item-details">
              <div class="description">
                <p>
                  This was created for the Ingressive For Good hackathon. It helps people to link multiple back accounts
                  and get realtime updates on transactions taking place in those accounts. This was done with the help
                  of <a href="https://mono.co/">mono API</a>
                </p>
              </div>
              <div class="general-info">
                <ul>
                  <li>
                    Tecnologies used - <span>Html, Css, Javascript, Bootstrap, Django, Mono API, Heroku, Data anlytics
                      with Pandas</span>
                  </li>
                  <li>Role - <span>Fullstack</span></li>
                  <li>
                    View online -
                    <span><a href="http://explicitboard.herokuapp.com/"
                        target="_blank">http://explicitboard.herokuapp.com/</a></span>
                  </li>
                  <li>
                    github -
                    <span><a href="https://github.com/CaptainVee/explicit" target="_blank">github-link</a></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--       Portfolio Item End -->
          <!--       Portfolio Item Start -->
          <div class="portfolio-item">
            <div class="portfolio-item-thumbnail">
              <img src="{% static 'img/portfolio/5.png'%}" alt="portfolio item thumbnail" />
            </div>
            <h3 class="portfolio-item-title">Zuri Chat</h3>
            <button type="button" class="btn view-project-btn">
              view project
            </button>
            <div class="portfolio-item-details">
              <div class="description">
                <p>
                  This is a simple chatting website where users can chat with themselves realtime.
                  This was done using django-channels.
                </p>
              </div>
              <div class="general-info">
                <ul>
                  <span>Tecnologies used - <span>Html, Css, Javascript, Django, Heroku, Socket.io, Django-channels,
                      Bootstrap</span>
                    </li>
                    <li>Role - <span>Fullstack</span></li>
                    <li>
                      View online -
                      <span><a href="https://zuri-chats.herokuapp.com/"
                          target="_blank">zuri-chats.herokuapp.com/</a></span>
                    </li>
                    <li>
                      github -
                      <span><a href="https://github.com/CaptainVee/chat-app" target="_blank">github-link</a></span>
                    </li>
                </ul>
              </div>
            </div>
          </div>

          <!--       Portfolio Item End -->

          <!--       Portfolio Item Start -->
          <div class="portfolio-item">
            <div class="portfolio-item-thumbnail">
              <img src="{% static 'img/portfolio/6.png'%}" alt="portfolio item thumbnail" />
            </div>
            <h3 class="portfolio-item-title">Ace</h3>
            <button type="button" class="btn view-project-btn">
              view project
            </button>
            <div class="portfolio-item-details">
              <div class="description">
                <p>
                  This is a announcemnt managing website. Users can create announcements withing a workspace. Those
                  announcement are kept there until it expires.
                </p>
              </div>
              <div class="general-info">
                <ul>
                  <li>
                    Tecnologies used - <span>Html, Css, Bootstrap, Django, AWS, Heroku, </span>
                  </li>
                  <li>Role - <span>Fullstack</span></li>
                  <li>
                    View online -
                    <span><a href="https://okwu.herokuapp.com/" target="_blank">https://okwu.herokuapp.com/</a></span>
                  </li>
                  <li>
                    github -
                    <span><a href="https://github.com/CaptainVee/ace-1" target="_blank">github-link</a></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--       Portfolio Item End -->


          <!--       Portfolio Item Start -->
          <div class="portfolio-item">
            <div class="portfolio-item-thumbnail">
              <img src="{% static 'img/portfolio/7.png'%}" alt="portfolio item thumbnail" />
            </div>
            <h3 class="portfolio-item-title">Product Hunt Clone</h3>
            <button type="button" class="btn view-project-btn">
              view project
            </button>
            <div class="portfolio-item-details">
              <div class="description">
                <p>
                  This is a <a href="https://www.producthunt.com/">product hunt</a> clone. It has the MVP functionality
                  of product hunt
                </p>
              </div>
              <div class="general-info">
                <ul>
                  <li>
                    Tecnologies used - <span>Django, Django-rest-framework, react, AWS, Heroku, </span>
                  </li>
                  <li>Role - <span>Backend, Frontend(a little)</span></li>
                  <li>
                    View online -
                    <span><a href="https://product-hunt-two.vercel.app/"
                        target="_blank">https://product-hunt-two.vercel.app/</a></span>
                  </li>
                  <li>
                    github
                    <span><a href="https://github.com/CaptainVee/Rest" target="_blank">github-link</a></span>
                  </li>
                  <li>
                    Docs -
                    <span><a href="https://restapi-4u.herokuapp.com/api/docs/" target="_blank">docs</a></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--       Portfolio Item End -->

          <!--       Portfolio Item Start -->
          <div class="portfolio-item">
            <div class="portfolio-item-thumbnail">
              <img src="{% static 'img/portfolio/1.jpg'%}" alt="portfolio item thumbnail" />
            </div>
            <h3 class="portfolio-item-title">Tollgator API</h3>
            <button type="button" class="btn view-project-btn">
              view project
            </button>
            <div class="portfolio-item-details">
              <div class="description">
                <p>
                  This is an API for an online course selling platform. You can register as an instructor an create
                  online courses. You can also register as a student and buy online courses
                </p>
              </div>
              <div class="general-info">
                <ul>
                  <li>
                    Tecnologies used - <span>Django, Django-rest-framework, AWS, Heroku, Swagger, <a
                        href="https://paystack.com/">Paystack</a>, Postman </span>
                  </li>
                  <li>Role - <span>Backend</span></li>
                  <li>
                    Docs -
                    <span><a href="https://tollgator-api.herokuapp.com/api/docs/" target="_blank">docs</a></span>
                  </li>
                  <li>
                    github -
                    <span><a href="https://github.com/CaptainVee/View" target="_blank">github-link</a></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--       Portfolio Item End -->

        </div>
      </div>
    </section>
    <!-- Portfolio Section End -->
    <!--       Contact Section Start -->
    <section class="contact-section sec-padding" id="contact">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>contact me</h2>
          </div>
        </div>
        <div class="row">
          <div class="contact-form">
            <form action="https://formspree.io/f/xknyppoj" method="POST">
              <div class="row">
                <div class="input-group">
                  <input type="name" name="name" placeholder="Name" class="input-control" required>
                </div>
                <div class="input-group">
                  <input type="email" name="email" placeholder="Email" class="input-control" required>
                </div>
                <div class="input-group">
                  <input type="subject" placeholder="Subject" class="input-control" required>
                </div>
                <div class="input-group">
                  <textarea name="message" placeholder="Message" class="input-control" required></textarea>
                </div>
                <div class="submit-btn">
                  <button type="submit" class="btn">send message</button>
                </div>
              </div>
            </form>
          </div>
          <div class="contact-info">
            <div class="contact-info-item">
              <h3>Email</h3>
              <p>captainvee3@gmail.com</p>
            </div>
            <div class="contact-info-item">
              <h3>Phone</h3>
              <p>+234 8146380756</p>
            </div>
            <div class="contact-info-item">
              <h3>Follow me</h3>
              <div class="social-links">
                <a href="https://github.com/CaptainVee" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/Joseph_Victor_T" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/josephvictort/" target="_blank"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--       Contact Section End -->

  </div>

  <!--  Main End -->

  <!-- Portfolio Item Detail Popup Start -->
  <div class="portfolio-popup">
    <div class="pp-inner">
      <div class="pp-content">
        <div class="pp-header">
          <button type="button" class="btn pp-close">
            <i class="fas fa-times"></i>
          </button>
          <div class="pp-thumbnail">
            <img src="{% static 'img/portfolio/5.png'%}" alt="pp thumbnail" />
          </div>
          <h3></h3>
        </div>
        <div class="pp-body">

        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Item Detail Popup End -->
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>