{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Victor Joseph</title>

<link rel="stylesheet" type="text/css" href="{% static 'blog/about.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/
    font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="">
  <link id="theme-style" rel="stylesheet" type="text/css" href="">
</head>
<body>
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand logo"href="#">Captain Vee</a>
    <a style="font-weight: 400;" class="navbar-brand subtitle"href="{% url 'blog-home' %}">Blog</a>

  </div>
</nav> 
<section>
<div class="card" style="background: beige; border-top: 0px;">
  <div class="card-body">
    <h5 class="card-title first">Software Developer & Machine Learning Engineer</h5>
    <p class="card-text subtitle">I design and code beautifully simple things, and I love what I do.</p>
  </div>
  <img src="/static/blog/developer.gif" class="card-img-bottom profile" alt="...">
        <div class="social-links">
        <a target="_blank"  class="fa fa-github" href="https://www.github.com/CaptainVee"></a>
        <a target="_blank"  class="fa fa-twitter" href="https://twitter.com/Joseph_Victor_T"></a>
        <a target="_blank"  class="fa fa-linkedin" href="https://linkedin.com/in/victor-joseph-352943142/"></a>
        </div>

</div>
</section>

  <section style="margin-top: 5rem;" >
<h3 style="text-align: center;">About Me</h3>
    <div class="card mb-3" style="">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/blog/developer2.gif" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title first" style="margin-top: auto;">Hi I'm Victor</h5>
        <p class="card-text about"><p>A passionate Software Engineer with primary focus on backend I have 3+ years of experience in Software Industry. Skilled in designing, building & maintaining highly scalable and available software applications.</p>
        <p>Love to learn new technologies everyday and apply them through building new projects.</p>
      </div>
    </div>
  </div>
</div>
</section>


<section style="margin-top: 6rem;">
  <h3 style="text-align: center;">What I Do?</h3>
  <div class="card-group skills">
  <div class="card">
    <h2 class="fa fa-desktop icon"> </h2>
    <div class="card-body">
      <h2 class="card-title">Software Developer</h2>
      <p class="card-text">Developing highly scalable and maintainable REST APIs using Microservice Architecture</p>
                  <ul>
              <h5>Tools</h5>
              <p>Python</p>
              <p>Django</p>
              <p>Html/CSS<p>
              <p>Postgres</p>
              <p>Sqlite<p>
            </ul>
    </div>
  </div>
  <div class="card">
    <h2 class="fa fa-code icon"> </h2>
    <div class="card-body">
      <h2 class="card-title ">Machine Learning </h2>
      <p class="card-text">Experience with Machine Learning features like object detection and basic data analysis</p>
                        <ul>
              <h5>Tools</h5>
              <p>Tensorflow</p>
              <p>Deepstack</p>
            </ul>
    </div>
  </div>
  <div class="card">
    <h2 class="fa fa-cloud icon"> </h2>
    <div class="card-body">
      <h2 class="card-title">Cloud Infra-Architecture</h2>
      <p class="card-text">Currently Learning about on multiple cloud platforms.</p>
                        <ul>
              <h5>Tools</h5>
              <p>AWS</p>
              <p>GCP</p>
              <p>Heroku<p>
              <p>Docker<p>
            </ul>
    </div>
  </div>
</div>
</section>
<section style="margin-top: 6rem;">

<h3 style="text-align: center;">Some of my past projects</h3>

<div class="card-group forth">
    <div class="card text-white bg-secondary mb-3 pad">
    <div class="card-body">
      <h5 class="card-title">A Blogging Site</h5>
      <p class="card-text">Designed and built a blogging site where one can blog about any topic of your choice</p>
      <button><a href="https://github.com/CaptainVee/portfolio">Github</a></button>
      <button><a href="https://captainvee2.herokuapp.com/">View Live</a></button>
    </div>
  </div>
    <div class="card text-white bg-secondary mb-3 pad">
    <div class="card-body">
      <h5 class="card-title">Tollgator</h5>
      <p class="card-text"> An API for an online learning platform with paystack payments intergration where users buy courses or instructors can sell courses</p>
      <button><a href="#">Github</a></button>
      <button><a href="https://tollgator.vercel.app/">View Live</a></button>
    </div>
  </div>
      <div class="card text-white bg-secondary mb-3 pad">
      <div class="card-body">
        <h5 class="card-title">Ace</h5>
        <p class="card-text"> Manage your announcements for any meeting efficiently.</p>
          <button><a href="https://github.com/CaptainVee/Ace">Github</a></button>
          <button><a href="https://msage.herokuapp.com/">View Live</a></button>
      </div>
    </div>
  </div>

<div class="card-group forth">
    <div class="card text-white bg-secondary mb-3 pad">
    <div class="card-body">
      <h5 class="card-title">Hope</h5>
      <p class="card-text"> A platform where anyone can lend or receive items for free</p>
      <button><a href="https://github.com/CaptainVee/hope">Github</a></button>
      <button><a href="https://hopering.herokuapp.com/">View Live</a></button>
    </div>
  </div>
    <div class="card text-white bg-secondary mb-3 pad">
    <div class="card-body">
      <h5 class="card-title">Devjobs</h5>
      <p class="card-text"> A Job portal platfom where developers can search for Jobs</p>
      <button><a href="#">Github</a></button>
      <button><a href="https://devjobspjt71.netlify.app/">View Live</a></button>
    </div>
  </div>

  </div>
</section>

  <section style="margin-top: 6rem; margin-bottom: 3rem;">
    <h3 style="text-align: center;">Let's Talk</h3>
<form class="fifth">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Subject</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
<div class="form-floating">
  <label for="floatingTextarea2">Comments</label>
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </section>

<section>
<div class="card" style="">
  <div class="card-body">
    <p class="card-text" style="text-align: center;">Made with <span role="img">❤️</span> by CaptainVee</p>
  </div>

</div>
</section>

</body>
</html>
